<h1>Posts</h1>

<% @posts.each do |post| %>
  <strong><%= post.title %></strong><br>
  <% if user_signed_in? %>
    <strong><%= post.user.name %></strong><br>
  <% else %>
    <strong>Sign In to see who wrote this!</strong><br>
  <% end %>
  <p><%= post.body %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "New Post", new_post_path %>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>
