<h1>Posts</h1>

<% @posts.each do |post| %>
  <strong><%= post.title %></strong><br>
  <p><%= post.body %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "New Post", new_post_path %>
  <%= link_to "Log Out", destroy_user_session_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_path %>
<% end %>
